/*
    @theme Tcl Placeholder
    @placeholder language-root.tcl
    @author Bernhard Rosensteiner <brosensteiner@gmail.com>
    has some Amira hacks - delete Amira selector if needed
*/

:not(tcl.comment, tcl.string) {
	spell-check: disabled;
}

tcl.shebang {
	color: #d44950;
	font-weight: bold;
	background-color: rgba(57, 79, 227, 0.3);
}

tcl.global-variables,
tcl.global-procedures {
	font-weight: bold;
}

tcl.variable.substitute {
	color: rgba(163, 214, 132, 0.8);
}

tcl.keyword.command.amira.global.commands.viewer + tcl.keyword.option.amira.viewer,
tcl.keyword.command.amira.global.commands.viewer + tcl.keyword.option.amira.viewer {
	color: #4f76cf;
}

tcl.variable.evaluate {
	color: #82c0e5;
	font-weight: normal;
}

tcl.variable,
tcl.variable.substitute.rest,
tcl.builtinfunc[text='set'] + space + word,

tcl.builtinfunc[text='append'] + space + word,

tcl.builtinfunc[text='scan'] + space + :not(keyword) + space + :not(keyword) + space + :not(keyword),
tcl.builtinfunc[text='scan'] + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword),
tcl.builtinfunc[text='scan'] + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword),
tcl.builtinfunc[text='scan'] + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword),
tcl.builtinfunc[text='scan'] + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword),

tcl.builtinfunc[text='lassign'] + space + * + space + :not(keyword),
tcl.builtinfunc[text='lassign'] + space + * + space + :not(keyword) + space + :not(keyword),
tcl.builtinfunc[text='lassign'] + space + * + space + :not(keyword) + space + :not(keyword) + space + :not(keyword),
tcl.builtinfunc[text='lassign'] + space + * + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword),
tcl.builtinfunc[text='lassign'] + space + * + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword),

tcl.builtinfunc-regexp + space + word,
tcl.builtinfunc-regexp + space + :not(keyword) + space + word,
tcl.builtinfunc-regexp + space + :not(keyword) + space + :not(keyword) + space + word,
tcl.builtinfunc-regexp + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + word,
tcl.builtinfunc-regexp + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + word,
tcl.builtinfunc-regexp + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) +  space + :not(keyword) + space + word,

tcl.builtinfunc-regsub + space + * + space + * + space + word,
tcl.builtinfunc-regsub + space + switches + space + * + space + * + space + word,
tcl.builtinfunc-regsub + space + switches + space + switches + space + * + space + * + space + word,
tcl.builtinfunc-regsub + space + switches + space + switches + space + switches + space + * + space + * + space + word,
tcl.builtinfunc-regsub + space + switches + space + switches + space + switches + space + switches + space + * + space + * + space + word,
tcl.builtinfunc-regsub + space + switches + space + switches + space + switches + space + switches + space + switches + space + * + space + * + space + word,
tcl.builtinfunc-regsub + space + switches + space + switches + space + switches + space + switches + space + switches + space + switches + space + * + space + * + space + word,
tcl.builtinfunc-regsub + space + switches + space + switches + space + switches + space + switches + space + switches + space + switches + space + switches + space + * + space + * + space + word,

tcl.command-variable + space + word,
tcl.command-variable + space + word + space + :not(keyword) + space + word,
tcl.command-variable + space + word + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + word,
tcl.command-variable + space + word + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + word,
tcl.command-variable + space + word + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + word,

tcl.command-global + space + word,
tcl.command-global + space + :not(keyword) + space + word,
tcl.command-global + space + :not(keyword) + space + :not(keyword) + space + word,
tcl.command-global + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + word,
tcl.command-global + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + word,

tcl.upvar + space + :not(keyword,numeric) + space + word,
tcl.upvar + space + :not(keyword,numeric) + space + :not(keyword) + space + :not(keyword) + space + word,
tcl.upvar + space + :not(keyword,numeric) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + word,
tcl.upvar + space + :not(keyword,numeric) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + word,
tcl.upvar + space + :not(keyword,numeric) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + word,

tcl.upvar + space + numeric + space + :not(keyword) + space + word,
tcl.upvar + space + numeric + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + word,
tcl.upvar + space + numeric + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + word,
tcl.upvar + space + numeric + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + word,
tcl.upvar + space + numeric + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + :not(keyword) + space + word,

tcl.builtinfunc-catch + space + word,

tcl.keyword.control.start[text='foreach'] + space + word,
tcl.keyword.control.start[text='foreach'] + space + open-brace + space + word,
tcl.keyword.control.start[text='foreach'] + space + open-brace + space + word + space + word,
tcl.keyword.control.start[text='foreach'] + space + open-brace + space + word + space + word + space + word,
tcl.keyword.control.start[text='foreach'] + space + open-brace + space + word + space + word + space + word + space + word,
tcl.keyword.control.start[text='foreach'] + space + open-brace + space + word + space + word + space + word + space + word + space + word  {
	color: #7ac54d;
}

tcl.keyword.variable.rename.oldname,
tcl.builtinfunc[text='unset'] + space + :not(keyword,variable),
tcl.builtinfunc[text='unset'] + space + :not(keyword,variable) + space + :not(keyword,variable),
tcl.builtinfunc[text='unset'] + space + :not(keyword,variable) + space + :not(keyword,variable) + space + :not(keyword,variable),
tcl.builtinfunc[text='unset'] + space + :not(keyword,variable) + space + :not(keyword,variable) + space + :not(keyword,variable) + space + :not(keyword,variable),
tcl.builtinfunc[text='unset'] + space + :not(keyword,variable) + space + :not(keyword,variable) + space + :not(keyword,variable) + space + :not(keyword,variable) + space + :not(keyword,variable) {
	color: #e51c1c;
}

***Amira***,
tcl.keyword.options.trace,
amira.variable,
amira.keyword {
	color: #4f76cf;
	font-weight: bold;
}
tcl.keyword.option.amira {
	font-weight: normal;
}

tcl.keyword.command {
	color: #bb82e9;
}
tcl.builtinfunc + space + options,
tcl.builtinfunc + space + options + space + options,
tcl.builtinfunc + space + options + space + options + space + options,
tcl.builtinfunc + space + builtinfunc,
tcl.builtinfunc + space + builtinfunc + space + builtinfunc,
tcl.builtinfunc + space + builtinfunc + space + builtinfunc + space + builtinfunc,
tcl.builtinfunc[text='fileevent'] + space + :not(keyword) + space + options.fileevent,
tcl.builtinfunc[text='trace'] + space + options + space + :not(keyword) + space + options.trace-add-command-ops {
	color: rgba(186, 129, 233, 0.6);
	font-weight: normal;
}
switches, {
	color: rgba(186, 129, 233, 0.38);
}

tcl.keyword.operator.logical {
	font-weight: bold;
}

tcl.punctuation.open-bracket,
tcl.punctuation.close-bracket,
tcl.keyword.string-format, {
	color: #e82c13;
}

tcl.keyword.character-class,
tcl.open-brace,
tcl.close-brace,
tcl.open-parenthesis,
tcl.close-parenthesis {
	color: #7f7f7f;
}
